html {
  background-color: black;
  color: white;
  font-family: sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  /* gap: 2px; */
}

.number-row {
  /* This was done to avoid the whitespace between buttons on the
  same row, since the newline is treated as whitespace. */
  display: flex;
}

.number-container {
  display: flex;
  flex-direction: column;
  /* gap: 2px; */
}

.function-container {
  display: flex;
}

.function-column {
  display: flex;
  flex-direction: column;
}

button {
  font-size: 20px;
  font-weight: bold;
  box-sizing: border-box;
  display: inline-block;
  width: 32px;
  height: 32px;
  border: 1px gray solid;
  border-radius: 4px;
}

button:hover {
  filter: brightness(.84);
}

.display {
  background-color: gray;
  border: 2px white solid;
  font-size: 24px;
  min-height: 30px;
  border-radius: 4px;
  padding-right: 4px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.equal {
  flex-grow: 1;
  background-color: cornflowerblue;
}

.clear {
  flex-grow: 1;
  background-color: coral;
}

.zero {
  flex-grow: 1;
}

.col-1 button {
  background-color: aquamarine;
}